{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}PochopIT{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul id="left-nav-tabs" class="nav nav-tabs nav-pills nav-stacked noselect">
                    {% for tab in tabs %}
                        {% if tab.isTabGroup %}
                            <li class="tab_group tab-offset-{{ tab.offset }} uid-{{ tab.parrent.uid }}"
                                uid="{{ tab.uid }}" onclick="toogleTabsVisibility({{ tab.uid }}, this)" role="presentation">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                {{ tab.title }}
                                {% if tab.addBaddge %}
                                    <span class="badge pull-right">{{ tab.baddgeNumber }}</span>
                                {% endif %}
                                <div class="action-buttons">
                                    {% for button in tab.action_buttons %}
                                        <span
                                           id="{{ button.url|cut:"/" }}"
                                           js_after="{{ button.js_after }}"

                                           {% if button.change_content %}
                                               onclick="event.stopPropagation(); event.preventDefault(); window.location.hash = '#{{ button.url }}';"
                                           {% else%}
                                               onclick="event.stopPropagation(); event.preventDefault(); jQuery.post('{{ button.url }}', null, function(data) {
                                                            {{ button.js_after }}
                                                       })"
                                           {% endif %}
                                        >
                                            <span class="glyphicon {{ button.glyphicon }}"></span>
                                        </span>
                                        {% if button.is_active %}
                                            <script>
                                                $( document ).ready(function() {
                                                    if (!window.location.hash) {
                                                        window.location.hash = '#' + '{{ button.url }}';
                                                    }
                                                });
                                            </script>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                            <li class="{{ tab.className }} tab-offset-{{ tab.offset }} uid-{{ tab.parrent.uid }}" role="presentation">
                                <a id="{{ tab.url|cut:"/" }}" href="#{{ tab.url }}">
                                    {{ tab.title }}
                                    {% if tab.addBaddge %}
                                        <span class="badge pull-right">{{ tab.baddgeNumber }}</span>
                                    {% endif %}
                                    <div class="action-buttons">
                                        {% for button in tab.action_buttons %}
                                            <span
                                               id="{{ button.url|cut:"/" }}"
                                               js_after="{{ button.js_after }}"
                                               {% if button.change_content %}
                                                    onclick="event.stopPropagation(); event.preventDefault(); window.location.hash = '#{{ button.url }}';"
                                               {% else%}
                                                    onclick="event.stopPropagation(); event.preventDefault(); jQuery.post('{{ button.url }}', null, function(data) {
                                                            {{ button.js_after }}
                                                       })"
                                               {% endif %}
                                            >
                                                <span class="glyphicon {{ button.glyphicon }}"></span>
                                            </span>
                                            {% if button.is_active %}
                                                <script>
                                                    $( document ).ready(function() {
                                                        if (!window.location.hash) {
                                                            window.location.hash = '#' + '{{ button.url }}';
                                                        }
                                                    });
                                                </script>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </a>
                            </li>
                            {% if tab.isActive %}
                                <script>
                                    $( document ).ready(function() {
                                        if (!window.location.hash) {
                                            window.location.hash = '#' + '{{ tab.url }}';
                                        }
                                    });
                                </script>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                <div id="tab-content">
                    {% block tab_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
     </div>
    <script>
        function changeTab() {
            var content = jQuery('#tab-content');
            var element = jQuery(location.hash.replace(/\//g, ''));
            content.html('');
            content.load(location.hash.replace('#', ''), null, function(data) {
                var js = element.attr('js_after');
                if (js) {
                    eval(js);
                }
            });
            jQuery('#left-nav-tabs').find('li').removeClass('active');
            element.closest('li').addClass('active');
        }

        $(window).on('hashchange', function() {
            changeTab();
        });

        if (window.location.hash) {
            changeTab();
        }

            function toogleTabsVisibility(uid, parent) {
            if (parent) {
                parent = jQuery(parent);
                var trangleIcon = parent.children('.glyphicon');
                if (trangleIcon.hasClass('glyphicon-triangle-bottom')) {
                    trangleIcon.removeClass('glyphicon-triangle-bottom');
                    trangleIcon.addClass('glyphicon-triangle-right');
                } else {
                    trangleIcon.removeClass('glyphicon-triangle-right');
                    trangleIcon.addClass('glyphicon-triangle-bottom');
                }
            }

            var childs = jQuery('.uid-' + uid);
            childs.each(function(i, element) {
                element = jQuery(element);
                if (element.is(':visible')) {
                    if (parent) {
                        element.addClass('collapsed');
                    }
                    element.hide();
                    if (element.hasClass('tab_group')) {
                        toogleTabsVisibility(element.attr("uid"), null);
                    }
                } else {
                    if (parent) {
                        element.removeClass('collapsed');
                        element.show();
                    } else if(!element.hasClass('collapsed')) {
                        element.show();
                    }
                    if (element.hasClass('tab_group')) {
                        toogleTabsVisibility(element.attr("uid"), null);
                    }
                }
            });
        }
    </script>
    {% block scripts %}
    {% endblock %}
{% endblock %}