{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}PochopIT{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul id="left-nav-tabs" class="nav nav-tabs nav-pills nav-stacked">
                    {% for tab in tabs %}
                        {% if tab.isTabGroup %}
                            <li class="tab_group tab-offset-{{ tab.offset }} uid-{{ tab.parrent.uid }}"
                                uid="{{ tab.uid }}" onclick="toogleTabsVisibility({{ tab.uid }}, true)" role="presentation">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                {{ tab.title }}
                                {% if tab.addBaddge %}
                                    <span class="badge pull-right">{{ tab.baddgeNumber }}</span>
                                {% endif %}
                                <div class="action-buttons">
                                    {% for button in tab.action_buttons %}
                                        <span ajax_url="{{ button.url }}"
                                           id="{{ button.shortName }}"
                                           js_after="{{ button.js_after }}"
                                           onclick="event.stopPropagation(); window.location.hash = '#{{ button.shortName }}';">
                                            <span class="glyphicon {{ button.glyphicon }}"></span>
                                        </span>
                                        {% if button.is_active %}
                                            <script>
                                                $( document ).ready(function() {
                                                    if (!window.location.hash) {
                                                        var tabId = '#' + '{{ button.shortName }}';
                                                        window.location.hash = tabId;
                                                    }
                                                });
                                            </script>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                            <li class="{{ tab.className }} tab-offset-{{ tab.offset }} uid-{{ tab.parrent.uid }}" role="presentation">
                                <a id="{{ tab.shortName }}" href="#{{ tab.shortName }}" ajax_url="{{ tab.url }}" onclick="changeTab(this)">
                                    {{ tab.title }}
                                    {% if tab.addBaddge %}
                                        <span class="badge pull-right">{{ tab.baddgeNumber }}</span>
                                    {% endif %}
                                    <div class="action-buttons">
                                        {% for button in tab.action_buttons %}
                                            <span ajax_url="{{ button.url }}"
                                               id="{{ button.shortName }}"
                                               js_after="{{ button.js_after }}"
                                               onclick="event.stopPropagation(); window.location.hash = '#{{ button.shortName }}';">
                                                <span class="glyphicon {{ button.glyphicon }}"></span>
                                            </span>
                                            {% if button.is_active %}
                                                <script>
                                                    $( document ).ready(function() {
                                                        if (!window.location.hash) {
                                                            var tabId = '#' + '{{ button.shortName }}';
                                                            window.location.hash = tabId;
                                                        }
                                                    });
                                                </script>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </a>
                            </li>
                            {% if tab.isActive %}
                                <script>
                                    $( document ).ready(function() {
                                        if (!window.location.hash) {
                                            var tabId = '#' + '{{ tab.shortName }}';
                                            window.location.hash = tabId;
                                        }
                                    });
                                </script>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                <ul class="context-nav-bar">
                    {% for item in context_bar_items %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
                <div id="tab-content">
                    {% block tab_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
     </div>
    <script>
        function changeTab(element) {
            var content = jQuery('#tab-content');
            element = jQuery(element);
            content.html('');
            content.load(element.attr('ajax_url'), null, function() {
                var js = element.attr('js_after');
                if (js) {
                    eval(js);
                }
            });
            jQuery('#left-nav-tabs').find('li').removeClass('active');
            element.closest('li').addClass('active');
        }

        function toogleTabsVisibility(uid, top) {
            var childs = jQuery('.uid-' + uid);
            childs.each(function(i, element) {
                element = jQuery(element);
                if (element.is(':visible')) {
                    if (top) {
                        element.addClass('collapsed');
                    }
                    element.hide();
                    if (element.hasClass('tab_group')) {
                        toogleTabsVisibility(element.attr("uid"), false);
                    }
                } else {
                    if (top) {
                        element.removeClass('collapsed');
                        element.show();
                    } else if(!element.hasClass('collapsed')) {
                        element.show();
                    }
                    if (element.hasClass('tab_group')) {
                        toogleTabsVisibility(element.attr("uid"), false);
                    }
                }
            });
        }

        $(window).on('hashchange', function() {
            var tabId = window.location.hash;
            changeTab(jQuery(tabId)[0]);
        });

        if (window.location.hash) {
            var tabId = window.location.hash;
            changeTab(jQuery(tabId)[0]);
        }
    </script>
{% endblock %}