{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}PochopIT{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul id="left-nav-tabs" class="nav nav-tabs nav-pills nav-stacked">
                    {% for tab in tabs %}
                        <li class="{{ tab.className }}" role="presentation">
                            <a href="{{ tab.url }}">
                                {{ tab.name }}
                                {% if tab.addBaddge %}
                                    <span class="badge pull-right">{{ tab.baddgeNumber }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                {% block tab_content %}
                {% endblock %}
            </div>
        </div>
     </div>
{% endblock %}