{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}PochopIT{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <ul class="nav nav-tabs">
                  {% if tabs.all %}
                      <li class="active" role="presentation"><a href="{% url 'courses' 'all' %}">{% trans "All" %}</a></li>
                  {% else %}
                      <li role="presentation"><a href="{% url 'courses' 'all' %}">{% trans "All" %}</a></li>
                  {% endif %}
                  {% if tabs.in_progress %}
                      <li class="active" role="presentation"><a href="{% url 'courses' 'in_progress' %}">{% trans "In progress" %}</a></li>
                  {% else %}
                      <li role="presentation"><a href="{% url 'courses' 'in_progress' %}">{% trans "In progress" %}</a></li>
                  {% endif %}
                  {% if tabs.completed %}
                      <li class="active" role="presentation"><a href="{% url 'courses' 'completed' %}">{% trans "Completed" %}</a></li>
                  {% else %}
                      <li role="presentation"><a href="{% url 'courses' 'completed' %}">{% trans "Completed" %}</a></li>
                  {% endif %}
                  {% if tabs.my_courses %}
                      <li class="pull-right active" role="presentation"><a href="{% url 'courses' 'my_courses' %}">{% trans "My courses" %}</a></li>
                  {% else %}
                      <li class="pull-right" role="presentation"><a href="{% url 'courses' 'my_courses' %}">{% trans "My courses" %}</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-12">
            {% block tab_content %}
            {% endblock %}
            </div>
        </div>
     </div>
{% endblock %}