{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}PochopIT{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="min-width: 300px">
               <ul id="left-nav-tabs" class="nav nav-tabs nav-pills nav-stacked">
                  {% if tabs.all %}
                      <li class="active" role="presentation"><a href="{% url 'courses' 'all' %}">{% trans "All" %}</a></li>
                  {% else %}
                      <li role="presentation"><a href="{% url 'courses' 'all' %}">{% trans "All" %}</a></li>
                  {% endif %}
                  {% if tabs.in_progress %}
                      <li class="active" role="presentation">
                          <a href="{% url 'courses' 'in_progress' %}">
                              {% trans "In progress" %}
                              <span class="badge pull-right">3</span>
                          </a>
                      </li>
                  {% else %}
                      <li role="presentation">
                          <a href="{% url 'courses' 'in_progress' %}">
                              {% trans "In progress" %}
                              <span class="badge pull-right">3</span>
                          </a>
                      </li>
                  {% endif %}
                  {% if tabs.completed %}
                      <li class="active" role="presentation"><a href="{% url 'courses' 'completed' %}">{% trans "Completed" %}</a></li>
                  {% else %}
                      <li role="presentation"><a href="{% url 'courses' 'completed' %}">{% trans "Completed" %}</a></li>
                  {% endif %}
                  {% if tabs.my_courses %}
                      <li class="active" role="presentation"><a href="{% url 'courses' 'my_courses' %}">{% trans "My courses" %}</a></li>
                  {% else %}
                      <li role="presentation">
                        <a href="{% url 'courses' 'my_courses' %}">
                          {% trans "My courses" %}
                          <span class="badge pull-right">14</span>
                        </a>
                      </li>
                  {% endif %}
                </ul>
            </div>
            <div class="col-md-10">
                {% block tab_content %}
                {% endblock %}
            </div>
        </div>
     </div>
{% endblock %}