{% extends "pochopit/base_side_panel.html" %}
{% load staticfiles %}
{% load url_constants %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static "_components/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "_courses/css/style.css" %}">
{% endblock %}

<script>
    var coursesOffset = 0;

    function loadNextCourses(offset) {
        var coursesContainer = $('#courses_container');
        if (coursesContainer.length) {
            $.post('{% url_from_constant '_courses' 'COURSES_GRID'%}', {offset: offset}, function(data){
                coursesContainer.append(data);
                coursesOffset += {{ offset }};
            });
        }
    }

    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
           loadNextCourses(coursesOffset);
        }
    });
</script>