{% extends "_courses/courses.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block tab_content %}
        <div class="row grid">
            <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
                        <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
                        <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
                        <div class="col-md-3 col-sm-6">
                <div class="grid-cell" style="height: 200px; width: 100%; background: #cdcdcd">

                </div>
            </div>
        </div>
{% endblock %}