{% load staticfiles %}
{% load i18n %}
{% load url_constants %}

<div class="row">
    <div class="col-md-12">
        <a href="{% url_from_constant '_courses' 'COURSE_NEW' %}" class="btn btn-primary btn pull-right">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Create new course" %}
        </a>
    </div>
</div>
<div class="row spacer">
    <div class="col-md-12">
<table id="course-table" class="table table-bordered">
    <thead>
        <tr>
            <th>Author</th>
            <th>{% trans "Course" %}</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    </div>
</div>

<script>
    $('#course-table').dataTable({
        "bPaginate": true,
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url_from_constant '_courses' 'COURSES_DATA' %}",
        "sServerMethod": 'POST',
        "aoColumns": [
            null,
            null,
            null,
            {
                "bSortable": false,
                "mRender": function ( data, type, full ) {
                     var url = Django.url('{% urls_constant '_courses' 'COURSE_EDIT' %}', data);
		             return '<a href="' + url + '" class="btn btn-default btn-sm">' +
                                '<span class="glyphicon glyphicon-pencil"></span>' +
                             '</a>';
                }
            }
        ],
        "oLanguage": {
            "sUrl": '{% static "js/libs/datatables/language.cs.json" %}'
        }
    });
</script>
