.component-frame {
    border: 1px solid #E7E7E7;
    margin-bottom: 12px;
}
.component-top-panel {
    background-color: #F8F8F8;
    padding: 8px 8px;
}
.component-content {
    padding: 12px 12px;
}
.component-top-panel .title {
    font-size: 18px;
}
.component-top-panel .glyphicon {
    cursor: pointer;
    color: #5a5a5a;
    padding-right: 12px;
}
.component-top-panel .glyphicon:hover {
    color: #64B30F;
}
ul.context-nav-bar {
    margin-top: 10px;
    font-size: 16px;
}
ul#sortable  {
    padding: 0 15px;
}
ul#sortable li {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
ul div.component-content {
    background: white;
}
.sortable-placeholder {
    display: block;
    background-color: #F8F8F8;
    height: 100px;
    margin-bottom: 12px;
}