{% load staticfiles %}
{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url "lesson_new" course_id %}" class="btn btn-primary btn pull-right">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Create new lesson" %}
        </a>
    </div>
</div>
<div class="row spacer">
    <div class="col-md-12">
<table id="course-table" class="table">
    <thead>
        <tr>
            <th>{% trans "Lesson" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    </div>
</div>

<script>
    $('#course-table').dataTable({
        "bPaginate": true,
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url "lessons_data" course_id%}",
        "sServerMethod": 'POST',
        "aoColumns": [
            null,
            {
                "bSortable": false,
                "mRender": function ( data, type, full ) {
                     var url = Django.url('lesson_edit', data);
		             return '<a href="' + url + '" class="btn btn-default btn-sm">' +
                                '<span class="glyphicon glyphicon-pencil"></span>' +
                             '</a>';
                }
            }
        ],
        "oLanguage": {
            "sUrl": '{% static "js/libs/datatables/language.cs.json" %}'
        }
    });
</script>