{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load url_constants %}

{% include "pochopit/context_nav_bar.html" %}

<div class="form-group text-right">
    <a href="{% url_from_constant '_courses' 'COURSE_DELETE' course_id %}" class="btn btn-danger">
        {% trans "Delete" %}
    </a>
</div>
<form action="{% url_from_constant "_courses" "COURSE_MAIN" course_id %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">
            {% trans "Save" %}
        </button>
    </div>
</form>