{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}PochopIT{% endblock %}

{% block content %}

<div class="container">
    <div class="row spacer">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img class="center-block" alt="logo pochopit" src="{% static "homepage/pochop_it_logo.png" %}">
{#             <div style="height: 40px; width: 100%; background: #7b7b7b;"></div>#}
{#             <div style="height: 40px; width: 100%; background: #676767;"></div>#}
{#             <div style="height: 40px; width: 100%; background: #5d5d5d;"></div>#}
{#             <div style="height: 40px; width: 100%; background: #B9F368"></div>#}
{#             <div style="height: 40px; width: 100%; background: #9CE23E"></div>#}
{#             <div style="height: 40px; width: 100%; background: #77b233"></div>#}
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row spacer">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  {% bootstrap_icon "star" %} Submit
                </button>
              {% endbuttons %}
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
 </div>
{% endblock %}