{% extends "pochopit/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load pochopit_tags %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static "_questions/css/style.css" %}">
{% endblock %}
{% block content %}
<head>
    {{ form.media }}
</head>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <h4>{{ user.first_name }} {% trans "is asking" %}</h4>
                <div id="questions_container">
                    <div class="grid-item">
                        <div class="grid-item-container">
                            <div class="q-action-bar">
                                {% if user.is_authenticated %}
                                    <a href="{% url_from_constant '_questions' 'EDIT_QUESTION' question.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>&nbsp{% trans 'edit question' %}
                                    </a>
                                {% endif %}
                                {% if authorize_question_edit and question.has_active_revision and question.user.id != user.id%}
                                    |<a href="{% url_from_constant '_questions' 'AUTHORIZE_QUESTION_EDIT' question.id %}">
                                        <span class="glyphicon glyphicon-sunglasses"></span>&nbsp{% trans 'changes' %}
                                    </a>
                                {% endif %}
                            </div>
                            <table>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <div class="info-container">
                                            <div class="info">
                                                <a href="{% url_from_constant "_questions" "VOTE_UP_QUESTION" question.id %}"
                                                   class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span>
                                                </a>
                                            </div>
                                            <div class="info votes">
                                                <span class="i-value">{{ question.votes }}</span>
                                            </div>
                                            <div class="info">
                                                <a href="{% url_from_constant "_questions" "VOTE_DOWN_QUESTION" question.id %}"
                                                   class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="q-content-td">
                                        <div>
                                            <span class="q-title">{{ question.title }}</span>
                                            <span class="q-date">{{ question.created|date:"j. M" }} | <a href="#">{{ user.first_name }} {{ user.last_name }}</a></span>
                                            <div class="q-text">
                                                {{ question.text|safe }}
                                            </div>
                                        </div>
                                        <div class="q-tags-row">
                                            {% for tag in question.tag_set.all %}
                                                <span class="q-tag"><a>{{ tag.title }}</a></span>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="comment_container">
                                            {% for comment in question.questioncomment_set.all %}
                                                <div class="comment">
                                                   <div class="q-text">
                                                            {{ comment.text }}&nbsp;&nbsp;<span class="comment-tail">(<a href="#" class="user-name">{{ question.user.first_name }} {{ question.user.last_name }}</a>
                                                       <span class="date">{{ question.created|date:"j. M o H:i" }}</span>)</span>
                                                   </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% if user.is_authenticated %}
                                            <span class="contain-glyphicon" onclick="$('#textarea-question' + {{ question.id }}).toggle()">
                                                <span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans 'add comment' %}
                                            </span>
                                        {% endif %}
                                        <div id="textarea-question{{ question.id }}" class="comment_input_container">
                                            <textarea id="comment-question-input{{ question.id }}" placeholder="{% trans 'Type your additional question' %}"></textarea>
                                            <button class="btn btn-primary btn-sm pull-right" role="button"
                                                    onclick="sendComment({{ question.id }}, 1);">
                                                <span class="glyphicon glyphicon-send"></span>&nbsp;{% trans 'Send' %}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row spacer">
                <div class="col-md-8 col-md-offset-2">
                {% if question.answer_set.count %}
                    <h4>{% trans "Yours answers" %}</h4>
                {% endif %}
                    {% for answer in question.answer_set.all %}
                        <div id="questions_container">
                            <div class="grid-item">
                                <div class="grid-item-container">
                                    <div class="q-action-bar">
                                       {% if user.is_authenticated %}
                                            <a href="{% url_from_constant '_questions' 'EDIT_ANSWER' answer.id %}">
                                                <span class="glyphicon glyphicon-pencil"></span>&nbsp{% trans 'edit answer' %}
                                            </a>
                                        {% endif %}
                                        {% if authorize_answer_edit and answer.has_active_revision and answer.user.id != user.id %}
                                            |<a href="{% url_from_constant '_questions' 'AUTHORIZE_ANSWER_EDIT' answer.id %}">
                                                <span class="glyphicon glyphicon-sunglasses"></span>&nbsp{% trans 'changes' %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    <table>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <div class="info-container">
                                                    <div class="info">
                                                        <a href="{% url_from_constant "_questions" "VOTE_UP_ANSWER" answer.id %}"
                                                           class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span>
                                                        </a>
                                                    </div>
                                                    <div class="info votes">
                                                        <span class="i-value">{{ answer.votes }}</span>
                                                    </div>
                                                    <div class="info">
                                                        <a href="{% url_from_constant "_questions" "VOTE_DOWN_ANSWER" answer.id %}"
                                                           class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="q-content-td">
                                                <div>
                                                    <span class="q-date">{{ answer.created|date:"j. M" }} | <a href="#">{{ answer.user.first_name }} {{ answer.user.last_name }}</a></span>
                                                    <div class="q-text">
                                                        {{ answer.text|safe }}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="comment_container">
                                                    {% for comment in answer.answercomment_set.all %}
                                                        <div class="comment">
                                                           <div class="q-text">
                                                                    {{ comment.text }}&nbsp;&nbsp;<span class="comment-tail">(<a href="#" class="user-name">{{ answer.user.first_name }} {{ answer.user.last_name }}</a>
                                                               <span class="date">{{ answer.created|date:"j. M o H:i" }}</span>)</span>
                                                           </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <span class="contain-glyphicon" onclick="$('#textarea-answer' + {{ answer.id }}).toggle()">
                                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans 'add comment' %}
                                                </span>
                                                <div id="textarea-answer{{ answer.id }}" class="comment_input_container">
                                                    <textarea id="comment-answer-input{{ answer.id }}" placeholder="{% trans 'Type your additional question' %}"></textarea>
                                                    <button class="btn btn-primary btn-sm pull-right" role="button"
                                                            onclick="sendComment({{ answer.id }}, 2);">
                                                        <span class="glyphicon glyphicon-send"></span>&nbsp;{% trans 'Send' %}
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% if show_answer_input %}
            <div class="row spacer">
                <div class="col-md-8 col-md-offset-2">
                    <form action="{% url_from_constant "_questions" "VIEW_QUESTION" question.id question.title.split|join:"-"%}" method="post" class="form">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
<script>
    function sendComment(id, type) {
        var comment;
        var input;
        if (type == 1) {
            // questions
            input = jQuery('#comment-question-input' + id);
            comment = input.val().trim();
            if (comment) {
                $.post('{% url_from_constant '_questions' "COMMENT_QUESTION" %}', {id: id, comment: comment});
                $('#textarea-question' + id).siblings('.comment_container').append('<div class="comment">'+comment+'</div>');
                input.val('');
                input.parent().hide();
            }
        } else {
            // asnwers
            input = jQuery('#comment-answer-input' + id);
            comment = input.val().trim();
            if (comment) {
                $.post('{% url_from_constant '_questions' "COMMENT_ANSWER" %}', {id: id, comment: comment});
                $('#textarea-answer' + id).siblings('.comment_container').append('<div class="comment">'+comment+'</div>');
                input.val('');
                input.parent().hide();
            }
        }
    }
</script>
{% endblock %}