{% load pochopit_tags %}
{% load i18n %}
{% for question in question_list %}
    <div class="grid-item">
        <div class="grid-item-container">
            <table>
                <tr>
                    <td style="vertical-align: top">
                        <div class="info-container">
                            <div class="info answers">
                                <span class="i-value">{{ question.answer_set.count }}</span>
                                <span class="i-label">odpovědí</span>
                            </div>
                            <div class="info views">
                                <span class="i-value">{{ question.votes }}</span>
                                <span class="i-label">hlasů</span>
                            </div>
                        </div>
                    </td>
                    <td class="q-content-td">
                        <div>
                            <a href="{% url_from_constant "_questions" "VIEW_QUESTION" question.id  question.title.split|join:"-"%}" class="q-title">{{ question.title }}</a>
                            <span class="q-date">{{ question.created|date:"j. M" }} |
                                {% if user.id == question.user_id %}
                                    <a href="#">{% trans 'you' %}</a>
                                {% else %}
                                    <a href="#">{{ question.user.first_name }} {{ question.user.last_name }}</a>
                                {% endif %}
                            </span>
                            <div class="q-text">
                                {{ question.text|safe|truncatechars:500 }}
                            </div>
                        </div>
                        <div class="q-tags-row">
                            {% for tag in question.tag_set.all %}
                                <span class="q-tag"><a>{{ tag.title }}</a></span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endfor %}