html {
    min-height: 100%;
}
/* MENICKO */
.navbar-brand {
    padding: 13px 15px;
}
.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: #5a5a5a;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover,
a:hover, .dropdown-menu>li>a:hover{
    color: #69BF10;
}

/* OBECNE OBSAH */
#content {
    margin-top: 20px;
}
.spacer {
    margin-top: 25px;
}
a {
    color: #5a5a5a;
}
.btn-default:hover {
    color: #69BF10;
    background-color: inherit;
    border-color: #69BF10;
}
.pagination>.active>a {
    background-color: transparent;
    color: #000;
    border-color: #ddd;
}
.pagination>.active>a:hover {
    background-color: transparent;
    color: #69BF10;
    border-color: #69BF10;
}
.alert {
    margin-top: -20px;
}
.table-bordered>tbody>tr>td {
    vertical-align: middle;
}
.table-btn {
    margin-right: 6px;
}
/* FORMY */
.btn-primary {
    background-color: #69BF10;
    border-color: #59ab15;
}
.form-control:focus {
    border-color: #69BF10;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(105, 191, 16, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(105, 191, 16, 0.6);
}
.btn-primary:hover {
    background-color: #6ec910;
    border-color: #62b515;
}
.btn-primary:focus, .btn-primary:active:focus {
    color: #fff;
    background-color: #6ec910;
    border-color: #62b515;
}

/* BOCNI NAVIGACNI MENU */

#left-nav-tabs {
    border: none;
    border-right: 1px solid #ddd;
}

.nav-pills>li.active>a {
    border: none;
    border-right: 4px solid #69BF10;
    border-radius: 0;
    background-color: transparent;
    color: #69BF10;
}
.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus  {
    border: none;
    border-right: 4px solid #69BF10;
    border-radius: 0;
    background-color: inherit;
    color: #69BF10;
    outline: none;
}
.nav-tabs>li>a {
    border: none;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    border-color: transparent;
    background-color: transparent;
    color: #69BF10;
    outline: none;
}
.nav-pills>.active>a>.badge {
    color: #69BF10;
}
#left-nav-tabs .tab_group {
    cursor: default;
    padding: 10px 15px;
}
.nav-stacked>li.tab-offset-1 {
    margin-left: 19px;
}
.nav-stacked>li.tab-offset-2 {
    margin-left: 38px;
}
.nav-stacked>li.tab-offset-3 {
    margin-left: 57px;
}
.nav-stacked>li.tab-offset-4 {
    margin-left: 76px;
}
.nav-stacked>li.collapsed {
    display: none;
}
#left-nav-tabs .action-buttons {
    display: inline-block;
}

#left-nav-tabs .action-buttons .glyphicon {
    padding-left: 6px;
    font-size: 12px;
}
#left-nav-tabs .action-buttons a:hover {
    color: #69BF10;
    cursor: pointer;
    text-decoration: none;
}
#left-nav-tabs .action-buttons a:focus {
    color: #5a5a5a;
    text-decoration: none;
}
/* GRID */
.grid .grid-cell {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* CONTEXT NAV-BAR */
ul.context-nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-nav-bar li {
    display: inline;
}
.context-nav-bar li:before {
    content: "> ";
}
.context-nav-bar li:first-child:before {
    content: "";
}
.context-nav-bar li:last-child a {
    color: #69BF10;
}
.context-nav-bar li a {
    cursor: pointer;
}