{% load staticfiles %}
{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url "slide_new" lesson_id %}" class="btn btn-primary btn pull-right">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add new slide" %}
        </a>
    </div>
</div>
<div class="row spacer">
    <div class="col-md-12">
<table id="lesson-table" class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Slide" %}</th>
            <th style="width: 155px"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    </div>
</div>

<script>
    $('#lesson-table').dataTable({
        "bPaginate": true,
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url "slides_data" lesson_id%}",
        "aoColumns": [
            {
                "bSortable": false
            },
            {
                "bSortable": false,
                "mRender": function ( data, type, full ) {
                     var url = Django.url('slide_edit', data);
		             return '<a href="' + url + '" class="table-btn btn btn-default btn-sm">' +
                                '<span class="glyphicon glyphicon-pencil"></span>' +
                             '</a>' +
                             '<a href="' + url + '" class="table-btn btn btn-default btn-sm pull-right">' +
                                '<span class="glyphicon glyphicon-arrow-up"></span>' +
                             '</a>' +
                             '<a href="' + url + '" class="table-btn btn btn-default btn-sm pull-right">' +
                                '<span class="glyphicon glyphicon-arrow-down"></span>' +
                             '</a>';
                }
            }
        ],
        "oLanguage": {
            "sUrl": '{% static "js/libs/datatables/language.cs.json" %}'
        }
    });
</script>