{% load staticfiles %}
<table>
    <tr>
        <td>
            <img src="{% static '_auth/assets/placeholder.png'%}" style="width: 130px;"/>
        </td>
        <td style="padding-left: 30px;">
            <h2 style="margin: 0; color: #64B30F">Pochop IT</h2>
            <h4>Programátor</h4>
            <table>
                <tr>
                    <td><span class="glyphicon glyphicon-home"></span></td>
                    <td style="padding-left: 8px">Lorem 2, Brno 638 00</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-envelope"></span></td>
                    <td style="padding-left: 8px">info@pochopit.cz</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-phone-alt"></span></td>
                    <td style="padding-left: 8px">+420 123 456 789</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-search"></span></td>
                    <td style="padding-left: 8px"><a href="https://www.pochopit.cz">www.pochopit.cz</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 30px;">
            <h4>ZKUŠENOSTI</h4>
        </td>
        <td style="padding-left: 30px;">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">
            <strong>Led 2003 - Srp 2005</strong>
        </td>
        <td style="padding-left: 30px;">
            Agency Creative, London<br>
            Senior Web Designer<br>
            <p>Vestibulum eu ante massa, sed rhoncus velit.</p>
            <p>Pellentesque at lectus in libero dapibus cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.</p>
        </td>
    </tr>
        <tr>
        <td style="padding-top: 30px;">
            <h4>DOVEDNOSTI</h4>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
        </td>
        <td style="padding-left: 30px;">
            Junior Web Designer<br>
            Bachelor of Science in Graphic Design<br>
            <p>Sed fermentum sollicitudin interdum. Etiam imperdiet sapien in dolor rhoncus a semper tortor posuere.</p>
            <p>Pellentesque at lectus in libero dapibus cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.<p>
        </td>
    </tr>
        <tr>
        <td style="padding-top: 30px;">
            <h4>PROJEKTY</h4>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="padding-left: 30px;">
            <strong>Senior web designer</strong>
        </td>
    </tr>
</table>