{% extends "pochopit/base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load pochopit_tags %}
{% block content %}
<head>
    {{ form.media }}
    <script type="text/javascript" src="{% static "tiny_mce/themes/simple2/tinymc_custom_template.js" %}" ></script>
</head>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url_from_constant "_auth" "MY_PROFILE_EDIT" %}"
                  method="post" class="form">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">
                            {% trans "Save" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}