{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}PochopIT{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="font-size: 17px">
            <p>
                Projekt PochopIT vznikl, jak už to tak většinou v našich končinách bývá, u sklenky zlatavého moku
                v brněnské hospůdce jménem Šafářka. Cílem tohoto projektu je vytvořit prostředí,
                jež podpoří rozrůstání naší komunity a tím nám (čti tobě) umožní podílet se na projektech,
                jež by pro jedince byly neuskutečnitelné.

                <br>
                <br>
                Víš že už je to hrubě přes 40 let co člověk naposled přistál na měsíci?
            </p>
            <p>
            <h3>Jak nám můžeš pomoci</h3>
            <p>
                V současné době se lze zapojit zejména
                následujícími způsoby:
               <ul>
                <li>zaregistruj se</li>
                <li>pokládej otázky</li>
                <li>odpovídej</li>
                <li>účastni se našich setkání</li>
                <li>šiř informace o PochopIT ve svém okolí</li>
              </ul>
               O nových možnostech tě budeme pravidelně informovat skrze tvoji e-mailovou adresu.
            </p>
            <p>
                Můžeš nás též kontaktovat na e-mailové adrese <img src="{% static '_homepage/assets/email.png'%}">
            </p>
        </div>
    </div>
 </div>
{% endblock %}