{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}PochopIT{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="font-size: 17px">
            <h3>Jak to začalo</h3>
            <p>
                Projekt PochopIT vznikl, jak to tak většinou v našich končinách už bývá, u sklenky zlatavého moku
                v brněnské hospůdce jménem Šafářka. Důvodem pro započetí tohoto projektu nám byly naše ne zrovna
                dobré zkušenosti s kvalitou a formou výuky informačníh technologií, které jsme byli v našem
                mládí nejeden vystaveni. Rozhodli jsme se tedy, že se pokusíme něco v tomto ohledu změnit.
            </p>
            <p>

            </p>
            <h3>Čeho chceme dosáhnout</h3>
            <p>
                Hlavním cílem a smyslem projektu je rozvoj vzdělávání
                v oblasti informačních technologií. Věříme, že se nám společnými silami povede vybudovat
                silné uskupení, jež se bude aktivně podílet na formování prostředí, ve kterém bude pro nadcházející
                generace, učení se novým technologiím, skvělým a vyhledávaným zážitkem. Chceme, aby nové generace
                moderní technologie tvořili a nejen pasivně využívali.
            </p>
            <h3>Jak toho chceme dosáhnout</h3>
            <p>
                Krůček po krůčku. Nevěříme v žádná jednoduchá a rychlá řešení, stejně jak nevěříme v to, že nám
                pečeni holubi budou sami létat do papule. JÁ nic nezměním ale MY už něco změnit můžem! Portál PochopIT,
                by měl sloužit zejména ke dvěma účelům. Prvním učelem je vytvoření komunity, jež se aktivně zajímá
                o informační technologie a je ochotna tyto své znalosti a zkušenosti dále šířit. Druhým účel
                je vytvořit na tomto portálu kanály, přes které by se tyto informace dostávali k cílové skupině.
            </p>
            <h3>Jak nám můžeš pomoci</h3>
            <p>
                Možností, jak se aktivně připojit k této inciativě bude přibývat, pokud se zaregistruješ, budeš
                o nových možnostech informován/á. V současné době lze k rozjezdu přispět následujícími způsoby
               <ul>
                <li>Zaregistruj se</li>
                <li>Ptej se</li>
                <li>Odpovídej</li>
                <li>Rozšiřuj informace o PochopIT ve svém okolí</li>
              </ul>
            </p>
        </div>
    </div>
 </div>
{% endblock %}