{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}PochopIT{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="font-size: 17px">
            <p>
                Projekt PochopIT vznikl, jak už to tak většinou v našich končinách bývá, u sklenky zlatavého moku
                v brněnské hospůdce jménem Šafářka. Důvodem pro započetí tohoto projektu nám byly naše ne zrovna
                dobré zkušenosti s kvalitou a formou výuky informačníh technologií, které jsme byli v našem
                mládí nejeden vystaveni. Rozhodli jsme se, že se pokusíme něco v tomto ohledu změnit a tak vznikl tento portál.
                Obsah tohoto portálu je zatím v plenkách, ale věříme, že se nám společnými silami bude dařit tento projekt
                posouvat nadále kupředu, a že pomůžeme nejednomu ajťákovi či ajťačce v jejich nelehké, ale o to zajímavější cestě
                za poznáním kódu.
            </p>
            <p>
            <h3>Jak nám můžeš pomoci</h3>
            <p>
                V současné době se lze zapojit zejména
                následujícími způsoby:
               <ul>
                <li>zaregistruj se</li>
                <li>pokládej otázky</li>
                <li>piš odpovědi</li>
                <li>šiř informace o PochopIT ve svém okolí</li>
              </ul>
               O nových možnostech tě budeme pravidelně informovat skrze tvoji e-mailovou adresu.
            </p>
            <p>
                Můžeš nás též kontaktovat na e-mailové adrese <img src="{% static '_homepage/assets/email.png'%}">
            </p>
        </div>
    </div>
 </div>
{% endblock %}