{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}PochopIT{% endblock %}

{% block content %}
<style>
#homepage-screen-content {
    display: inline-block;
    text-align: left;
    font-size: 29px;
}
</style>
<div class="container">
    <div class="row spacer">
        <div class="col-md-9 col-md-offset-1 spacer" style="text-align: center">
            <div id="homepage-screen-content">
                <span style="color:#525252;line-height: 40px;">
                    Umění programovat je dar, dar jež obyčejným lidem <br>
                    umožnuje uskutečnit i ty nejneobyčejnější sny.<br>
                    <br>
                    Pomoz nám tento dar rozvíje a staň se součástí<br>
                    našeho týmu.<br>
                </span>
                <div style="color:#64B30F;text-align: right;font-size: 24px; margin: 17px 15px 0 0;">
                        „Pochop IT, pochop budoucnost“
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}