{% extends "pochopit/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}PochopIT{% endblock %}

{% block content %}
<style>
#homepage-screen {
    background-image: url('{% static 'pochopit/assets/923975502.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 50%;
}
#homepage-screen-content {
    display: inline-block;
    text-align: left;
    padding-top: 155px;
    font-size: 29px;
}
</style>
<div class="container">
    <div class="row spacer">
        <div class="col-md-9 col-md-offset-1">
            <div id="homepage-screen">
                <div id="homepage-screen-content">
                    <span style="color:#525252;line-height: 40px;">
                        Umění programovat je dar, dar který dává lidem <br>
                        možnost stvořit i ty jejich nejneobyčejnější sny.<br>
                        <br>
                        Pomoz nám tento dar rozvíje a staň se součástí<br>
                        našeho týmu.<br>
                    </span>
                    <div style="color:#64B30F;text-align: right;font-size: 24px; margin: 17px 15px 0 0;">
                            „Pochop IT, pochop budoucnost“
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}