{% load staticfiles %}
{% load i18n %}
{% load url_constants %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url_from_constant 'courses' 'COMPONENT_NEW' slide_id %}" class="btn btn-primary btn pull-right">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add new component" %}
        </a>
    </div>
</div>
<div class="row spacer">
    <div class="col-md-12">
<table id="component-table" class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Component" %}</th>
            <th style="width: 155px"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
    </div>
</div>

<script>
    $('#component-table').dataTable({
        "bPaginate": true,
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url_from_constant "_courses" "COMPONENTS_DATA" slide_id%}",
        "aoColumns": [
            {
                "bSortable": false
            },
            {
                "bSortable": false,
                "mRender": function ( data, type, full ) {
                     var url = Django.url('{% urls_constant '_courses' 'COMPONENT_EDIT' %}', data);
		             return '<a href="' + url + '" class="table-btn btn btn-default btn-sm">' +
                                '<span class="glyphicon glyphicon-pencil"></span>' +
                             '</a>' +
                             '<a href="' + url + '" class="table-btn btn btn-default btn-sm pull-right">' +
                                '<span class="glyphicon glyphicon-arrow-up"></span>' +
                             '</a>' +
                             '<a href="' + url + '" class="table-btn btn btn-default btn-sm pull-right">' +
                                '<span class="glyphicon glyphicon-arrow-down"></span>' +
                             '</a>';
                }
            }
        ],
        "oLanguage": {
            "sUrl": '{% static "js/libs/datatables/language.cs.json" %}'
        }
    });
</script>